.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.box {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem;
}
.box ol {
  text-align: left;
}
.box:first-child {
  grid-column: 1/-1;
}
.box:nth-child(2) {
  grid-column: 1/-1;
}
.box:last-child {
  grid-column: 1/-1;
}
.box:nth-child(5) {
  grid-column: 1 / -1;
  width: calc(100% / 2); /* center*/
  justify-self: center;
}
#contact {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
}
input {
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
}
