.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
nav {
  background-color: #ffffff;
  border-radius: 5px;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 1rem;
}
nav a {
  color: blue;
  text-decoration: none;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem;
}
.box li {
  text-align: left;
}
.box:first-child {
  grid-column: 1/-1;
  background-color: #223b57;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}
.box:nth-child(2) {
  grid-column: 1/-1;
  background-color: #eba72e;
}
.box:last-child {
  grid-column: 1/-1;
  background-color: #b33e24;
}
.box:nth-child(5) {
  grid-column: 1 / -1;
  width: calc(100% / 2); /* center*/
  justify-self: center;
}
#contact {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
}
input {
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
}
table {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
